input,textarea{
  margin: 0.35rem 0;
  margin-bottom: 1.30rem;
  padding:0.65rem;
  border-radius: 8px;
  background-color: black;
  box-shadow: 0.5rem;
}

@media screen and (max-width:600px) {
  input,textarea{
    background-color: rgb(26, 25, 25);
  }
  [data-vjs-player] {
  width: 100% !important;
  margin: 0 auto;
}
}

.loader {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 6px solid #121bc7;
  animation: prixClipFix 3s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

[data-vjs-player] {
  width: 83% !important;
  margin: 0 auto;
}
